* {
    margin: 0;
    color: white;
    font-family: Poppins;
}
  
body {
    background-color: #202020;
    height: 100vh;
}
  
.header {
    background: #151515;
    display: flex;
    width: 100vw;
    height: 75px;
    left: 0px;
    top: 0px;
    color: white;
    align-items: center;
}
  
#logoJudul{
    margin-left: 20px;
}
  
.judul{
    display:flex;
    flex-grow: 1; 
    justify-content: center;
    font-size: x-large;
    margin-right: 200px;
}
.fa-regular{
    color: white;
    margin-right: 50px;
}
.fa-pen-to-square{
    font-size: 18px;
}

#home {
    display: grid;
    grid-template-columns: 30% 50%;
    height: calc(100% - 75px);
    gap: 100px;
}

.table{
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;  
    align-items: center 
}

.cen,.title{
    display: grid;
    grid-template-columns: 5% 40% 0% 40%;
    gap: 10px;
    width: 50vw;
    justify-content: center;
}
.info{
    display: grid;
    height: 70vh;
    overflow: auto;
    align-content: center;
    background: #444444;
    border-radius: 45px;
    justify-content: center;
}

.garis{
    background-color: red;
    width: 2px;
    height: 100%;
}
.garis2{
    background-color: white;
    height: 2px;
    width: 100%;
}
.garis3{
    background-color: #444444;;
    height: 2px;
    width: 100%;
}
.a{
    display: grid;
    align-items: center;
}

p,h3{
    font-size: 30px;
    text-align: center;
}

.edit{
    display: flex;
    gap: 20px;
    align-items: center;
}

button,input[type=submit]{
    border: 2px solid #CB0033;
    border-radius: 10px;
    background-color: #CB0033;
    height: 5vh;
    width: 10vw;
    color: #FFFFFF;
    font-size: 18px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.fa-trash{
    font-size: 30px;
    color: #CB0033;
}
.shift,.status,.trash{
    display: grid;
    align-items: center;
}
.popup-form {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020ED;
    padding: 20px;
    max-width: 80%; 
    max-height: 80%; 
    overflow: auto; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 30vw; 
    height: 50vh;
    border-radius: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
}

form {
    display: grid;
    margin-top: 10px;
    grid-template-rows: 90% 20%;
    height: 50vh;
    justify-items: center
}

.b {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

select {
    background: #d9d9d9;
    width: 150%; 
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
    color: black;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#nama{
    width: 200%;
    color: black;
}

.del {
    display: grid;
    align-items: center;
    height: 100%; 
}
.but{
    display: flex;
    gap: 20px;
    justify-content: center;
}

h2{
    text-align: center;
}