* {
    margin: 0;
    color: white;
}
  
body {
    background-color: #202020;
    height: 100vh;
}
  
.header {
    background: #151515;
    display: flex;
    width: 100vw;
    height: 75px;
    left: 0px;
    top: 0px;
    color: white;
    align-items: center;
}
  
#logoJudul{
    margin-left: 20px;
}
  
.judul{
    display:flex;
    flex-grow: 1; 
    justify-content: center;
    font-size: x-large;
}
.fa-regular{
    color: white;
    margin-right: 50px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #ffffff;
}
.date{
    display: grid;
    width: 50vw;
    grid-template-rows: 100% 30%;
}
form{
    display: flex;
    gap: 50px;
    align-items: center;
}
input[type=date]{
    background: #d9d9d9;
    width: 30%;
    border: 0;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
    color: black;
}
input[type=submit]{
    border-radius: 10px;
    background-color: #CB0033;
    height: 6vh;
    width: 10vw;
    color: #FFFFFF;
    font-size: 18px;
    border: 2px solid #CB0033;
}
p{
    font-size: 20px;
}