* {
  margin: 0;
}

body {
  background-color: #202020;
  height: 100vh;
}

.header {
  background: #151515;
  display: flex;
  width: 100vw;
  height: 75px;
  left: 0px;
  top: 0px;
  color: white;
  align-items: center;
}

#logoJudul{
  margin-left: 20px;
}

.judul{
  display:flex;
  flex-grow: 1; 
  justify-content: center;
  font-size: x-large;
}

.greet{
  width: 100%;
}

.greet *{
  font-size: 30px;
  margin: 50px 50px 50px 130px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
/* justify-content: center; */
  color: white;
  height: calc(100% - 75px);
  width: 100vw;
}

.fa-regular{
  color: white;
  margin-right: 30px;
}


#ticketList{
  width: 80%;
  height: 65%;
  margin-bottom: 5%;
  border-radius: 40px;
  background-color: #EDEDED;
  color: #151515;
  font-size: 20px;
}

footer img{
  width: 100vw;
}