* {
  margin: 0;
}

body {
  background-color: #202020;
  height: 100vh;
}

.header {
  background: #151515;
  display: flex;
  width: 100vw;
  height: 75px;
  left: 0px;
  top: 0px;
  color: white;
  align-items: center;
}

#logoJudul{
  margin-left: 20px;
}

.judul{
  display:flex;
  flex-grow: 1; 
  justify-content: center;
  font-size: x-large;
}

.greet{
  width: 100%;
}

.greet *{
  font-size: 30px;
  margin: 50px 50px 40px 130px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
/* justify-content: center; */
  color: white;
  height: calc(100% - 75px);
  width: 100vw;
}

.fa-regular{
  color: white;
  margin-right: 30px;
}


#ticketList{
  display: grid;
  width: 80%;
  height: 65%;
  margin-bottom: 5%;
  background-color: #EDEDED;
  color: #151515;
  font-size: 20px;
}

footer img{
  width: 100vw;
}

table{
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

td{
  padding: 8px;
  width: 25%;
  text-align: center;
}
tbody{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
tr, th{
  border-bottom: 1px solid #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
tr:hover{
  background-color: #bfbfbf;
}

.statusBtn{
  background-color: #CB0033;
  width: 40%;
  height: 50px;
  border-radius: 40px;
  border: 4px solid #7D001F;
  color: #EDEDED;
}