<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/home_admin.css" />
    <title>Home Admin</title>
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap"rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="header">
        <img
          src="asset/Group 3.png"
          style="width: 200px"
          onclick="window.location.href='/';"
        />
        <div class="judul">TABLE MANAGEMENT PAGE</div>
        <i class="fa-regular fa-user fa-xl"></i>
    </div>
    <main>
        <div class="button">
            <button>Add Table</button>
            <button>Report</button>
            <button>Update Member</button>
            <button>Update Price</button>
        </div>
        <div class="tables">
            <div class="table">
                Table #1
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #2
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #3
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #4
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #5
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #6
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #6
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #6
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #6
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #6
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="table">
                Table #6
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
    </main>
</body>
</html>