<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="asset/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="header">
      <img
        onclick="window.location.href='/';"
        src="asset/Group 3.png"
        style="width: 200px"
      />
      <div style="flex-grow: 1"></div>
    </div>
    <div class="login">
      <div class="form">
        <form method="post" action="authlogin">
          <h2>Log In</h2>
          <br>
          <%if(sgp){%>
            <p>You Have Been Successfully Signed Up! Please Log In.</p>
          <%}%>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
          <%if(err){%>
            <p class="err">*Wrong username or pass!*</p>
          <%}%>
          <p id="forgot" onclick="window.location.href='/forgotpass';">
            Forgot Password?
          </p>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
