<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="asset/listmember.js" defer></script>
    <script
      src="https://kit.fontawesome.com/d53ca09937.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="asset/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <img
        src="asset/Group 3.png"
        style="width: 200px"
        onclick="window.location.href='/admin';"
        id="logoJudul"
      />
      <div class="judul">UPDATE PROFILE PICTURE</div>
      <i class="fa-regular fa-user fa-xl"></i>
    </div>
    <main>
      <section>
        <h2>Profile Picture</h2>
        <img class="photo" src="img.jpg" alt="">
        <form method="post" action="/profilePic" enctype="multipart/form-data">
          <label for="file-upload" class="file-label">Choose a File</label>
          <input id="file-upload" type="file" name="image">
          <input type="submit" class="custom-button">
        </form>
      </section>
    </main>
        
    </body>
</html>
