<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="asset/reservation.css" />
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <script src="./asset/reservation.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <img
        onclick="window.location.href='/';"
        src="asset/Group 3.png"
        style="width: 200px"
      />
      <div style="flex-grow: 1"></div>
      <%if(!isLogin){%>
        <button onclick="window.location.href='/signup';" id="join">
          Join now
        </button>
        <button onclick="window.location.href='/login';" id="login">
          Log in
        </button>
      <% }else{ %>
        <i class="fa-regular fa-user fa-xl"></i>
      <% } %>
    </div>

    <div class="reservation">
      <div class="form">
        <form method = "get" action="table">
          <h2>Pesan Tiket Billiar</h2>
          <label for="date">Tanggal Bermain</label>
          <input type="date" id="username" name="date" required/>
          <label for="time">Jam Bermain</label>
          <select name="time" required>
            <option value="" selected disabled hidden>Pilih Waktu</option>
          </select>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
