<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/shift.css" />
    <link href='https://fonts.googleapis.com/css?family=Poppins'rel='stylesheet'>
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img
          src="asset/Group 3.png"
          style="width: 200px"
          onclick="window.location.href='/';"
          id="logoJudul"
        />
        <div class="judul">TRANSACTION REPORT</div>
        <i class="fa-regular fa-user fa-xl"></i>
    </div>
    <div id="home">
        <div class="table">
            <div class="edit">
                <h2>Table</h2>
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            
            <button type="button">Add Shift</button>
        </div>
        <div class="a">
            <div class="info">
                <div class="title">
                    <p></p>
                    <h3>shift</h3>
                    <div class="garis"></div>
                    <h3>status</h3>
                </div>
                <div class="cen">
                    <div class="trash">
                        <div class="garis3"></div>
                        <i class="fa-solid fa-trash"></i>
                        <div class="garis3"></div>
                        <i class="fa-solid fa-trash"></i>
                        <div class="garis3"></div>
                        <i class="fa-solid fa-trash"></i>
                        <div class="garis3"></div>
                    </div>
                    <div class="shift">
                        <div class="garis2"></div>
                        <p>shift</p>
                        <div class="garis2"></div>
                        <p>shift</p>
                        <div class="garis2"></div>
                        <p>shift</p>
                        <div class="garis2"></div>
                    </div>
                    <div class="garis"></div>
                    <div class="status">
                        <div class="garis2"></div>
                        <p>status</p>
                        <div class="garis2"></div>
                        <p>status</p>
                        <div class="garis2"></div>
                        <p>status</p>
                        <div class="garis2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>