<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/shift.css" />
    <link href='https://fonts.googleapis.com/css?family=Poppins'rel='stylesheet'>
    <script src="asset/shift.js" defer></script>
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img
          src="asset/Group 3.png"
          style="width: 200px"
          onclick="window.location.href='/';"
          id="logoJudul"
        />
        <div class="judul">TRANSACTION REPORT</div>
        <i class="fa-regular fa-user fa-xl"></i>
    </div>
    <div id="home">
        <div class="table">
            <div class="edit">
                <h2>Table</h2>
                <i class="fa-solid fa-pen-to-square"onclick="openForm2()"></i>
            </div>
            
            <button onclick="openForm()">Add Shift</button>
        </div>
        <div class="a">
            <div class="info">
                <div class="title">
                    <p></p>
                    <h3>shift</h3>
                    <div class="garis"></div>
                    <h3>status</h3>
                </div>
                <div class="cen">
                    <div class="trash">
                        <div class="garis3"></div>
                        <i class="fa-solid fa-trash" onclick="openForm3()"></i>
                        <div class="garis3"></div>
                        <i class="fa-solid fa-trash" onclick="openForm3()"></i>
                        <div class="garis3"></div>
                        <i class="fa-solid fa-trash" onclick="openForm3()"></i>
                        <div class="garis3"></div>
                    </div>
                    <div class="shift">
                        <div class="garis2"></div>
                        <p>shift</p>
                        <div class="garis2"></div>
                        <p>shift</p>
                        <div class="garis2"></div>
                        <p>shift</p>
                        <div class="garis2"></div>
                    </div>
                    <div class="garis"></div>
                    <div class="status">
                        <div class="garis2"></div>
                        <p>status</p>
                        <div class="garis2"></div>
                        <p>status</p>
                        <div class="garis2"></div>
                        <p>status</p>
                        <div class="garis2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popupForm" class="popup-form">
        <div class="popup-content">
            <span class="close-btn" onclick="closeForm()">&times;</span>
            <div class="form">
                <h2>Tambah Shift</h2>
                <form>
                    <div class="b">
                        <label for="jam">Jam Bermain</label>
                        <select name="time" required></select>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <div id="popupForm2" class="popup-form">
        <div class="popup-content">
            <span class="close-btn" onclick="closeForm2()">&times;</span>
            <div class="form">
                <h2>Rename Table</h2>
                <form>
                    <div class="b">
                        <label for="nama">Nama Baru</label>
                        <input type="text" name="nama" id="nama">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <div id="popupForm3" class="popup-form">
        <div class="popup-content">
            <span class="close-btn" onclick="closeForm3()">&times;</span>
            <div class="del">
                <h2>Are You Sure 
                    Want to Delete 
                    Shift ....?</h2>
                <div class="but">
                    <button>Cancel</button>
                    <button>Confirm</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>