<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="asset/signup.css" />
    <script src="asset/signup.js" defer></script>
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <img
        onclick="window.location.href='/';"
        src="asset/Group 3.png"
        style="width: 200px"
      />
      <div style="flex-grow: 1"></div>
    </div>
    <div class="login">
      <div class="form">
        <form action="authsignup" method="post">
          <h2>Membership Sign Up</h2>
          <br />
          <label for="firstName">Full Name</label>
          <input type="text" id="firstName" name="firstName" required />
          <label for="district">District</label>
          <select name="district" required>
            <option value="" selected disabled hidden>Pilih Kota</option>
          </select>
          <label for="subDistrict">Sub District</label>
          <select name="subDistrict" disabled required>
            <option value="" selected disabled hidden>Pilih Kecamatan</option>
          </select>
          <label for="urbanVillage">Urban Village</label>
          <select name="urbanVillage" disabled required>
            <option value="" selected disabled hidden>Pilih Kelurahan</option>
          </select>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
          <label for="repassword">Re-enter Password</label>
          <input type="password" id="repassword" name="repassword" required />

          <input type="submit" value="Create Member" />
        </form>
        <div class="here">
          <p>Already Registered?</p>
          <p id="login_here" onclick="window.location.href='/login';">
            Login Here
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
