<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins'rel='stylesheet'>
    <link rel="stylesheet" href="asset/table_member.css" />
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img
          src="asset/Group 3.png"
          style="width: 200px"
          onclick="window.location.href='/';"
          id="logoJudul"
        />
        <div style="flex-grow: 1"></div>
        <i class="fa-regular fa-user fa-xl"></i>
    </div>
    <main>
        <div class="con">
            <div class="search">
                <h2>TABLE OF MEMBER</h2>
                <select name="by" id="by">
                    <option value="district">District</option> 
                    <option value="subDistrict">Sub District</option> 
                    <option value="urbanVillage">Urban Village</option> 
                </select>
            </div>
            <div class="table">
                <div class="table-header">
                    <div class="header__item">Username</div>
                    <div class="header__item">Full Name</div>
                    <div class="header__item">District</div>
                </div>
                <div class="table-content">	
                    <div class="table-row">		
                        <div class="table-data">Suray123</div>
                        <div class="table-data">Surya Rizki</div>
                        <div class="table-data">Bandung</div>
                    </div>
                    <div class="table-row">
                        <div class="table-data">Suray123</div>
                        <div class="table-data">Surya Rizki</div>
                        <div class="table-data">Bandung</div>
                    </div>
                    <div class="table-row">
                        <div class="table-data">Suray123</div>
                        <div class="table-data">Surya Rizki</div>
                        <div class="table-data">Bandung</div>
                    </div>
                </div>	
            </div>
        </div>
    </main>
</body>
</html>