<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="asset/table_page.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <img
        src="asset/Group 3.png"
        style="width: 200px"
        onclick="window.location.href='/';"
        id="logoJudul"
      />
      <div class="judul">ORDER CONFIRMATION</div>
      <%if(!isLogin){%>
        <button onclick="window.location.href='/signup';" id="join">
          Join now
        </button>
        <button onclick="window.location.href='/login';" id="login">
          Log in
        </button>
      <% }else{ %>
        <i class="fa-regular fa-user fa-xl" id="memberBtn"></i>
      <% } %>
    </div>

    <div id="home">
      <div id="kiri">
        <div></div>
        <div>
          <p>TO ORDER:</p>
          <p>Click on the table you select!</p>
        </div>
        <div>
          <div class="keterangan">
            <div id="box1"></div>The Table is Available!
          </div>
          <div class="keterangan">
            <div id="box2"></div>The Table is Not Available!
          </div>
        </div>
      </div>
      <div id="kanan">
        <p id="judulDenah">Table's Location Guide</p>
        <div id="entrance">Entrance Area
          <div id="line"></div>
        </div>
        <div id="peta">
          <div class="meja">1</div>
          <div class="meja">2</div>
          <div class="meja">3</div>
          <div class="meja">4</div>
          <div class="meja">5</div>
          <div class="meja">6</div>
          <div class="meja">7</div>
          <div class="meja">8</div>
          <div class="meja">9</div>
          <div class="meja">10</div>
          <div class="meja">11</div>
          <div class="meja">12</div>
          <div class="meja">13</div>
          <div class="meja">14</div>
          <div class="meja">15</div>
          <div class="meja">16</div>
          <!-- <div class="meja">17</div> -->
        </div>
      </div>
    </div>
  </body>
</html>
