<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script
      src="https://kit.fontawesome.com/d53ca09937.js"
      crossorigin="anonymous"
    ></script>
    <script src="asset/table_page.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="asset/table_page.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <img
        src="asset/Group 3.png"
        style="width: 200px"
        onclick="window.location.href='/';"
        id="logoJudul"
      />
      <h1 class="judul"></h1>
      <%if(!isLogin){%>
      <button onclick="window.location.href='/signup';" id="join">
        Join now
      </button>
      <button onclick="window.location.href='/login';" id="login">
        Log in
      </button>
      <% }else{ %>
      <i class="fa-regular fa-user fa-xl" id="memberBtn" onclick="window.location.href='/history';"></i>
      <% } %>
    </div>

    <div id="home">
      <div id="kiri">
        <div></div>
        <div>
          <h2>TO ORDER:</h2>
          <p id="definition">Click on the table you select!</p>
        </div>
        <div>
          <div class="keterangan">
            <div id="box1"></div>
            The Table is Available!
          </div>
          <div class="keterangan">
            <div id="box2"></div>
            The Table is Not Available!
          </div>
        </div>
      </div>
      <div id="kanan">
        <p id="judulDenah">Table's Location Guide</p>
        <div id="entrance">
          Entrance Area
          <div id="line"></div>
        </div>
        <div id="peta">
          <%for(let i = 0; i < tables.length; i++){%> <%
          if(booked_tables.includes(i+1)){ %>
          <div class="mejaBook"><%=(tables[i].noMeja)%></div>
          <% } else {%>
          <div class="meja"><%=(tables[i].noMeja)%></div>
          <%}%> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
