<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/ticket.css" />
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img
          src="asset/Group 3.png"
          style="width: 200px"
          onclick="window.location.href='/';"
        />
        <div style="flex-grow: 1"></div>
        <i class="fa-regular fa-user fa-xl"></i>
    </div>
    <main>
        <div class="ticket">
            <div class="atas">
                <h2>Ticket</h2>
                <img src="asset/Group 3.png" style="width: 150px"/>
            </div>
            <div class="garis"></div>
            <div class="bawah">
                <div class="a">
                    <div class="table">
                        <p>Table</p>
                        <p class="bold">Table #2</p>
                    </div>
                    <div class="info">
                        <div class="date">
                            <p>Date</p>
                            <p class="bold">01/09/2023</p>
                        </div>
                        <div class="start">
                            <p>Start</p>
                            <p class="bold">19.00</p>
                        </div>
                        <div class="end">
                            <p>End</p>
                            <p class="bold">20.00</p>
                        </div>
                    </div>
                </div>
                <div class="garis2">
                <div class="b">
                    <p>Name</p>
                    <p class="bold">X</p>
                </div>
            </div>
        </div>
        
    </main>
</body>
</html>