<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/ticket.css" />
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img
          src="asset/Group 3.png"
          style="width: 200px"
          onclick="window.location.href='/';"
        />
        <div style="flex-grow: 1"></div>
        <i class="fa-regular fa-user fa-xl"></i>
    </div>
    <main>
        <div class="ticket">
            <div class="atas">
                <h2>Ticket</h2>
                <img src="asset/Group 3.png" style="width: 150px"/>
            </div>
            <div class="bawah">
                <div class="table">
                    <p><span>Table</span>Table #2</p>
                </div>
                <div class="date">
                    <p>Date</p>
                    <p>Start</p>
                    <p>End</p>
                </div>
                <div class="start">
                    <p>Start</p>
                    <p>19.00</p>
                </div>
                <div class="end">
                    <p>End</p>
                    <p>20.00</p>
                </div>
                <hr>
                <p>Name</p>
                <p>X</p>
            </div>
        </div>
        
    </main>
</body>
</html>