<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/transaction_report.css" />
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img
          src="asset/Group 3.png"
          style="width: 200px"
          onclick="window.location.href='/';"
          id="logoJudul"
        />
        <div class="judul">TRANSACTION REPORT</div>
        <i class="fa-regular fa-user fa-xl"></i>
    </div>
    <main>
        <div class="date">
            <h2>Set Date Range:</h2>
            <form method="get" action="/report">
                <input type="date" name="start" id="start"/>
                <p>To</p>
                <input type="date" name="end" id="end"/>
                <input type="submit" value="Search">
            </form>
        </div>
        
    </main>
    
</body>
</html>