<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="asset/trans_history.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <img
        src="asset/Group 3.png"
        style="width: 200px"
        onclick="window.location.href='/';"
        id="logoJudul"
      />
      <div class="judul">TRANSACTION HISTORY PAGE</div>
      <i class="fa-regular fa-user fa-xl"></i>
    </div>

    <div id="home">
      <div class="greet">
        <div>Hello, Here is your transaction history</div>
      </div>
      <table id="ticketList">
        <tr>
          <td>Tanggal</td>
          <td>Nomor Meja</td>
          <td>Jam</td>
          <td><button class="statusBtn" value="Status">Status</button></td>
        </tr>
        <tr>
          <td>Tanggal</td>
          <td>Nomor Meja</td>
          <td>Jam</td>
          <td><button class="statusBtn" value="Status">Status</button></td>
        </tr>
        <tr>
          <td>Tanggal</td>
          <td>Nomor Meja</td>
          <td>Jam</td>
          <td><button class="statusBtn" value="Status">Status</button></td>
        </tr>
        <tr>
          <td>Tanggal</td>
          <td>Nomor Meja</td>
          <td>Jam</td>
          <td><button class="statusBtn" value="Status">Status</button></td>
        </tr>
        <tr>
          <td>Tanggal</td>
          <td>Nomor Meja</td>
          <td>Jam</td>
          <td><button class="statusBtn" value="Status">Status</button></td>
        </tr>
      </table>
      <footer>
        <img src="asset/image 5.png" alt="">
      </footer>
    </div>

  </body>
</html>
