* {
  margin: 0;
}

body {
  background-color: #202020;
}

.header {
  background: #151515;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 75px;
  left: 0px;
  top: 0px;
  color: white;
  align-items: center;
  padding-left: 20px;
  padding-right: 25px;
}

#home {
  margin-top: 75px;
  display: flex;
  height: 1000px;
  background-image: url("https://static.wixstatic.com/media/6ff534_382149a1180c4aa7aab265c9d291fef6~mv2.jpg/v1/fill/w_2142,h_934,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/6ff534_382149a1180c4aa7aab265c9d291fef6~mv2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

#res {
  display: flex;
  border: white solid;
  width: 400px;
  height: 150px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background: rgba(255, 255, 255, 0.14);
}
#logo {
  width: 850px;
  height: 200px;
}
button {
  margin-right: 30px;
}
