* {
  margin: 0;
}
body {
  background-image: url("image 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}
.form {
  background: rgba(32, 32, 32, 0.93);
  padding: 45px;
  border-radius: 45px;
  width: 20%;
}
.form input {
  background: #d9d9d9;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}
.form input[type="submit"] {
  background: #444444;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  color: #ededed;
  font-size: 14px;
}
p {
  color: #9a9a9a;
}
.header {
  background: #151515;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 75px;
  left: 0px;
  top: 0px;
  color: white;
  align-items: center;
  padding-left: 20px;
  padding-right: 25px;
}
.form h2 {
  text-align: center;
  margin-bottom: 10px;
}
